{% extends 'coaches/base.html' %}

{% block content %}
    <h1>Registration Page Testing</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form.as_p }}
<!--            {% for field in form %}-->
<!--                <p>{{ field.label }}</p>-->
<!--                <div>{{ field }}</div>-->
<!--                <div>{{ field.errors }}</div>-->
<!--            {% endfor %}-->
        </fieldset>
        {{ form.title.label }}
                {{ form.title }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
{% endblock content %}