{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="header_container">
            <div class="upper_header">
                <div class="grizzly">GRIZZLY</div>
                <a href="{% url 'home' %}"><img src="/pictures/grizzly_logo.png" alt="grizzly_logo" class="logo"></a>
                <div class="grizzly">ACADEMY</div>
            </div>
            <div class="red_line">
                <div class="nav container">
                    {% if user.is_authenticated %}
                        {% if user.userprofile.status == "Manager" %}
                            <div class="menu_button"><a href="{% url 'groups' %}">Группы</a></div>
                            <div class="menu_button"><a href="{% url 'coaches' %}">Тренерская</a></div>
                            <div class="menu_button"><a href="{% url 'profile' %}">Профиль</a></div>
                            <div class="menu_button"><a href="{% url 'logout' %}">Выйти</a></div>
                        {% elif user.userprofile.status == "Coach" %}
                            <div class="menu_button"><a href="#">Группы</a></div>
                            <div class="menu_button"><a href="#">Тренерская</a></div>
                            <div class="menu_button"><a href="{% url 'profile' %}">Профиль</a></div>
                            <div class="menu_button"><a href="{% url 'logout' %}">Выйти</a></div>
                        {% elif user.userprofile.status == "Receptionist" %}
                            <div class="menu_button"><a href="#">Расписание</a></div>
                            <div class="menu_button"><a href="#">Группы</a></div>
                            <div class="menu_button"><a href="{% url 'profile' %}">Профиль</a></div>
                            <div class="menu_button"><a href="{% url 'logout' %}">Выйти</a></div>
                        {% elif user.userprofile.status == "Student" or user.userprofile.status == "Parent" %}
                            <div class="menu_button"><a href="{% url 'home' %}">Главная</a></div>
                            <div class="menu_button"><a href="#">Магазин</a></div>
                            <div class="menu_button"><a href="{% url 'profile' %}">Профиль</a></div>
                            <div class="menu_button"><a href="{% url 'logout' %}">Выйти</a></div>
                        {% else %}
                            <div class="menu_button"><a href="{% url 'home' %}">Главная</a></div>
                            <div class="menu_button"><a href="#">Магазин</a></div>
                            <div class="menu_button"><a href="{% url 'profile' %}">Профиль</a></div>
                            <div class="menu_button"><a href="{% url 'logout' %}">Выйти</a></div>
                        {% endif %}
                    {% else %}
                        <div class="menu_button"><a href="{% url 'home' %}">Главная</a></div>
                        <div class="menu_button"><a href="#">Магазин</a></div>
                        <div class="menu_button"><a href="{% url 'login' %}">Войти</a></div>
                        <div class="menu_button"><a href="{% url 'registration' %}">Зарегистрироваться</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="content">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
          {% endif %}
            {% block content %}
            {% endblock content %}
        </div>

        <div class="commercial_block">
            <div class="commercial">
                <p class="best_price">Лучшая цена</p>
                <img class="goods" src="/pictures/ufc-gloves.png" alt="rash-guard">
                <p class="commercial_title">Перчатки ММА</p>
                <p class="commercial_price">1000 грн.</p>
                <button class="purchase">Купить</button>
<!--                <a href="#"><button class="purchase">Купить</button></a>-->
            </div>
            <div class="commercial"></div>
            <div class="commercial"></div>
            <div class="commercial"></div>
        </div>
    </main>



    <footer>
        <div class="footer_black header_container">
                <div class="footer_black_inner container">
                    <div class="black_flang">
                        <a href="{% url 'home' %}" class="black_link">Главная</a>
                    </div>

                    <div class="black_right_2">
                        <img class="bot_logo" src="/pictures/grizzly_logo_white.png" alt="epam">
                    </div>

                    {% if user.is_authenticated %}
                    <div class="black_flang">
                        <a href="{% url 'logout' %}" class="black_link">Выйти</a>
                    </div>
                    {% else %}
                    <div class="black_flang">
                        <a href="{% url 'login' %}" class="black_link">Войти</a>
                    </div>
                    {% endif %}
                </div>
        </div>
    </footer>
</body>
</html>